body {
	margin:0;
	padding:0;
	background-image:url("images/oceanwater.jpg");
}

section {
	text-align:center;
	overflow:auto;
	padding:0;
	margin:0;
	width:100%;
}

nav {
	width:60%;
	margin:0px auto;
}

ul {
	list-style-type:none;
}

li {
	display:inline;
}

#surfsimg {
	height:100px;
}

#nav {
	background-color:#406E8E;
}

.odds {
	background-color:#8EA8C3;
}

.evens {
	background-color:#CBF7ED;
}

.btn {
  -webkit-border-radius: 5;
  -moz-border-radius: 5;
  border-radius: 5px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  background: #8EA8C3;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #4485c2;
  text-decoration: none;
}

.half {
	width:48%;
	margin:0.5em 1%;
	float:left;
}

#signup {
	width:98%;
	margin:0.5em 1%;
}